<div *ngIf="authenticated; else login" class="container">
  <div class="container flexRow overflowAuto">
    <div id="Navigations" style="z-index: 10;">
      <div class="leftNavigations pureWhiteColorBackground flexCol" style="z-index: 10;">
        <div class="widthFull">
          <div class="paddingX-5 flexCol textCenter dashboardHeaderContainer">
            <div class="flexRow textCenter" style="font-size: 28px;opacity:0.80;">
              <span class="bold" style="color: #0984e3;">
                G
              </span>
              <span class="bold" style="color: #d63031;">
                o
              </span>
              <span class="bold" style="color: #fdcb6e;">
                o
              </span>
              <span class="bold" style="color: #0984e3;">
                g
              </span>
              <span class="bold" style="color: #00b894;">
                l
              </span>
              <span class="bold" style="color: #d63031;">
                e
              </span>
            </div>
          </div>
        </div>

        <div class="flexRow" style="padding: 0rem 1rem">
          <div class="account-holder-001 padding-5 flexRow widthFull">
            <!-- Top Notice -->
            <div style="width:40px;margin-right: .5rem;">
              <div class="d-image-holder">
                <img src="../../assets/sample_profile_3.jpg" width="100%">
              </div>
            </div>
            <div class="separated-5 posRel container paddingX-5">
              <div class="flexCol posAbs centeredVertical">
                <span class="bold primaryColor" style="overflow:hidden;" *ngIf="this.currentUser != nil">{{this.currentUser}}</span>
                <span class="dimmedColor small openSans cPointer" style="overflow:hidden;">Auditor</span>
              </div>
            </div>
          </div>
        </div>

        <div class="menuType">
          <li class="flexRow large">
            <span class="menuName ticketHeader">TOOLS</span>
          </li>
          <li class="flexRow active">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            <span class="menuName">Tickets</span>
          </li>
          <li class="flexRow">
            <fa-icon [icon]="faEye"></fa-icon>
            <span class="menuName">Overview</span>
          </li>
          <li class="flexRow">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            <span class="menuName">Employee</span>
          </li>
          <li class="flexRow">
            <fa-icon [icon]="faCogs"></fa-icon>
            <span class="menuName">Manage</span>
          </li>
          <li class="flexRow" (click)="logout()">
            <fa-icon [icon]="faSignOut"></fa-icon>
            <span class="menuName">Logout</span>
          </li>
        </div>
        <div class="menuType margin-5">
          <div class="widthFull description dimmedColor flexRow">
            <div class="padding-5 posRel" style="width: 30px;">
              <div class="textCenter padding-5 posAbs centered containerFavIcon">
                <fa-icon [icon]="faBell" class="posAbs centered"></fa-icon>
              </div>
            </div>
            <div class="padding-5 flexCol">
              <span class="description bold">Keep Updated !</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="overflow: hidden; z-index: 0;">
      <app-dashboard-member></app-dashboard-member>
    </div>
  </div>
</div>

<ng-template #login>
  <div *ngIf="authenticated === false" class="container">
    <app-login (nameEvent)="doCheckSomething()"></app-login>
  </div>
</ng-template>