<div class="flexCol container">
  <!-- Div Header Content -->
  <div class="notice-from-office">
    <div class="notice-cards flexCenter" style="overflow: visible;">
      <div class="flexRow padding-5">
        <div class="searchBar flexRow">
          <div class="posRel heightFull" style="padding-left: .5rem;">
            <fa-icon [icon]="this.faIcons['faSearch']" class="small dimmedColor"></fa-icon>
          </div>
          <input type="text" autocomplete="off" class="container leftRoundedText">
        </div>
        <div class="searchBarTools flexRow">

        </div>
      </div>
    </div>
  </div>

  <!-- Add New Ticket Button + Form -->
  <div class="posRel flexCol" *ngIf="true">
    <div id="modalFormTicket" class="posAbs card-add-ticket extendsPadding">
      <div id="kontrakBucat" class="flexCol" *ngIf="this.outLetTicketsModalForm.isModalOpen">
        <div class="flexRow">
          <span class="bold description greenColor">Maintainer Tools</span>
        </div>
        <form [formGroup]="subticketForm" class="form">
          <div class="viewBuilderForm">
            <label class="formDescriptive bold">
              Ticket Name
            </label>
            <input id="ticketName" type="text" placeholder="Give ticket a name here" formControlName="ticketName"
              autocomplete="off">
          </div>
          <div class="viewBuilderForm">
            <label class="formDescriptive bold">
              Description
            </label>
            <textarea id="ticketDescription" formControlName="ticketDescription" class="txarea-input" spellcheck="false"
              placeholder="Give Ticket description here" (click)="this.setDefault('ticketDescription')"></textarea>
          </div>
          <div class="groupContentMinimal">
            <div class="flexRow">
              <span class="bold description dimmedColor marginX-5">251</span>
              <span class="description dimmedColor">Characters left</span>
            </div>
            <button type="submit" class="defaultButton small cPointer floatRight widthFull marginY-5"
              (click)="this.addNewTicket_Publish()">Add Ticket</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="flexRow container" style="overflow-x: auto;overflow-y: hidden;">
    <!-- Ticket Lists -->
    <div class="margin-5" *ngFor="let value of this.detailTicketsModel" >
      <div class="header-tasks">
        <div class="widthFull dimmedColor flexCol" style="margin-top: .5rem">
          <div class="padding-5">
            <span class="bold floatLeft">Backlog</span>
            <div class="posRel heightFull floatRight cPointer" style="width: 15px;height: 25px;">
              <fa-icon [icon]="this.faIcons['faArrowDown']" class="floatRight posAbs centered"></fa-icon>
            </div>
          </div>
        </div>

        <div class="scrolled-tasks-container" style="height: 90%;">
          <div class="flexCol overflowAuto extendsPadding" *ngIf="this.detailTicketsModel != null">
            <div class="ticket-detail borderDefault" *ngFor="let value of this.detailTicketsModel">
              <div class="flexCol" style="width: 100%;">
                <span class="bold description name-tasks">{{value.tasks.tpdName}}</span>
                <span class="small dimmedColor description-tasks">{{value.tasks.tpdDescriptor}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ticket Module Detail -->

    <!-- <div class="container overflowAuto extendsPadding">
      <div class="flexCol">
        <span class="large bold primaryColor">
          Backlog / Cust-Defect-Login-Problem
        </span>
        <div class="flexRow description openSans" style="text-align: justify;">
          <div class="flexRow paddingX-5 widthFull">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="flexRow paddingX-5 widthFull">
            <p></p>
          </div>
        </div>
        <div class="flexRow">
          <div class="flexRow tag-top-bar">
            <span class="description bold active">Active</span>
            <span class="description bold">Resolve</span>
            <span class="description bold">Postponed</span>
          </div>
        </div>
        <div class="flexCol openSans  box-tickets marginY-5">

          <div class="flexRow">
            <input type="checkbox" style="height: 13.5px;width: 10px;">
            <label for="ticket1" class="description">We've had issue when login with unverified account.</label>
          </div>
          <div class="flexRow">
            <input type="checkbox" style="height: 13.5px;width: 10px;">
            <label for="ticket1" class="description">We've had issue when login with unverified account.</label>
          </div>
          <div class="flexRow">
            <input type="checkbox" style="height: 13.5px;width: 10px;">
            <label for="ticket1" class="description">We've had issue when login with unverified account.</label>
          </div>
          <div class="flexRow">
            <input type="checkbox" style="height: 13.5px;width: 10px;">
            <label for="ticket1" class="description">We've had issue when login with unverified account.</label>
          </div>
          <div class="flexRow">
            <input type="checkbox" style="height: 13.5px;width: 10px;">
            <label for="ticket1" class="description">We've had issue when login with unverified account.</label>
          </div>


        </div>
      </div>

    </div> -->

  </div>
</div>