
.imageProfileContainer {
    margin-top: .5rem;
    width: 200px;
    min-height: 200px;
    border-radius: .5rem;
}

.imageProfileHolder {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.profileMenuSection {
    height: 50px;
    overflow: hidden;
}

.imageProfileBackground {
    height: 100px;
    overflow: hidden;
}

.editIcon {
    color: gray;
    opacity: .5;
}

.daysCalendar>div {
    width: 25px;
    padding: 1rem;
    background-color: white;
    margin-right: .5rem;
    border-radius: 5px;
    transform: scale(0.9);
}

.daysCalendar>div.currentDay {
    transform: scale(1);
    color: white !important;
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rounded {
    border-radius: 100% !important;
}

.imageRelativeHolder {
    height: 160px;
}

.profileEditContainer>fa-icon {
    color: gray;
    font-size: 12px;
    opacity: .5;
    position: absolute;
    left: 105%;
    top: -2px;
}

.tagRole {
    border-radius: .15rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: .25rem;
}

.tagRole.maintainer {
    color: white;
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tagJob {
    top: .25rem;
    left: 1rem;
    font-size: 30px;
}

.tagJob.tagIos {
    color: rgba(223, 230, 233,.5);
}

.tagJob.tagJob.colorDarker {
    color: rgb(92, 92, 92) !important;
}

.boxCardMessage{
    width: 100%;
}

.boxCardMessage>div:first-child {
    margin-bottom: .25rem;
}

.message>.title {
    color: rgba(45, 52, 54,1.0);
    border-left: 3px solid rgba(214, 48, 49,1.0);
    padding-left: .5rem;
    margin-bottom: .25rem;
}

.btnCheckOut {
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: .5rem;
    color: white;
    border-radius: 0rem 0rem 0.25rem .25rem;
    border: none;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: not-allowed;
    transition: all .1s ease-in-out;
}


.btnCheckOut:focus {
    outline: none;
}

.timer {
    margin-top: 1rem;
    margin-bottom: .25rem;
}

.tasksCard {
    min-width: 150px;
    max-height: 300px;
    background-color: white;
    float: left;
}

.tasksCard:not(:last-child) {
    margin-right: .5rem;
}

.tasksCard>div {
    padding: 1rem;
}

.groupContent.noTopMargin {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.groupContent.noBottomMargin {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.tagPriority {
    margin-top: .25rem;
    padding: .25rem 0;
    width: 100%;
    font-size: 8px;
    color: white;
}

.tagPriority>i{
    float: left;
    opacity: .5;
    text-align: center;
    color: none;
    margin-bottom: .25rem;
}

.tagPriority>i:not(:last-child) {
    margin-right: .25rem;
}

.tagPriorityHigh {
    width: 30%;
    height: 6px;
    border-radius: .25rem;
    background-color: red;
    transition: height 1s ease-in-out;
}

.tagIosDevelopment {
    width: 10%;
    height: 6px;
    border-radius: .25rem;
    background-color: gray;
}

.dataListLog{
    border-radius: .25rem;
    background-color: white;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    top: 100%;
    transition: all .25s ease-in-out;
}

.dataListLog>div>span {
    padding: .5rem 1rem;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    opacity: .5;
}

.dataListLog>div>span:hover {
    opacity: 1;
}

.dataListLog>div>span {
    border-bottom: 1px solid rgba(223, 230, 233,.25);
}

#categories,#categories>fa-icon {
    cursor: pointer;
    transition: bottom 1s ease-in-out;
}

#categories:hover>fa-icon {
    bottom: 0 !important;
}

#categories:hover > .dataListLog {
    opacity: 1;
    max-height: 1000px;
}

.dataListLog:hover {
    opacity: 1;
    max-height: 1000px;
}

#categories:hover {
    display: hidden;
}

table {
    width: 100%;
}

dt {
    display: flex;
    flex-direction: row;
}

dt>th {
    padding: .5rem 1rem;
    text-align: left;
    width: 100%;
    font-size: 13px;
    border-right: .5px solid rgba(223, 230, 233,.25);
}

dt>td{
    text-align: left;
    width: 100%;
    border-bottom: .5px solid rgba(223, 230, 233,1);
    border-right: .5px solid rgba(223, 230, 233,1);
    padding: .45rem 1rem;
    font-size: 12px;
    font-family: 'Baloo 2', sans-serif;
}

dt>td {
    border-color: rgba(223, 230, 233,.1);
    border-right: .5px solid rgba(223, 230, 233,.25);
}

dt>*:last-child {
    border-right: 0px !important;
}

.lightWhiteColorBackgroundOpHalf {
    background-color: #ecf0f15d;
}

.pgBar {
    position: relative;
}

.pgBar>i {
    border-radius: .25rem;
    width: 100%;
    background: black;
    height: 5px;
    position: absolute;
}

.bgPg {
    opacity: .1;
}

.bgVal {
    width: 20% !important;
}

.tdp_Cards {
    display: inline-block;
    min-width: 215px;
    width: 33.33%;
    max-width: 100%;
    order: 3;
    cursor: pointer;
    transition: transform .25s ease-in-out;
}

.tdp_Cards_inside {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 1rem;
    z-index: -1;
}

.tdp_Cards:hover {
    transform: scale(1.02,1.02);
}

/* .tdp_Cards::before, .tdp_Cards::after {
    box-sizing: inherit;
} */

.tdp_Cards_inside>div {
    padding: 1.5rem;
}

.tdp_Cards_icon {
    position: absolute;
    font-size: 25px;
    left: 1rem;
    top: 1rem;
    color: rgb(199, 199, 199);
}

.ticketImageHolder {
    padding: 0 !important;
    z-index: -1;
    overflow-y: hidden;
}