
.overflowHidden {
    overflow: hidden;
}

.overflowAuto {
    overflow-y: auto !important;
}

.maxHeightFull {
    height: 100%;
}


/* TOP */
.notice-from-office {
    z-index: 1;
}

.notice-from-office>.notice-cards {
    background-color: white;
    height: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.bg-internal {
    background: rgba(0,0,0,.040);
    padding: 0.5rem 1rem;
    border-radius: .1rem;
}

.d-image-holder.no-spike {
    border-radius: .25rem !important;
}

/* margin - content */
.separated-5>div:not(:last-child) {
    margin-right: 0.5rem;
}

/* Ticket - content */
.notice-card-ticket {
    width: 1000px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    border-radius: .1rem;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: .25s all ease-in-out;    
}

.notice-card-ticket:hover {
    transform: scale(1.01,1.01);
}

.notice-card-menu {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

.notice-card-menu>div {
    min-width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline-flex;
    margin: .5rem;
    padding: 0.5rem;
}

.card-ticket-header{
    height: 50px;
    margin-bottom: 1rem;
}

.card-ticket-header>div {
    height: 50px;
    min-width: 50px;
}

.card-ticket-header>.d-image-holder{
    width: 50px;
}

.card-share-holder {
    position: relative;
    height: 100%;
}

.card-clock-options {
    font-family: 'baloo 2', sans-serif;
    font-size: 12px;
    outline: none;
    border: none;
    padding: .25rem .5rem;
    background-color: #74baff2a;
    color: #0984e3;
    border-radius: .25rem;
}

.card-tasks-counter {
    padding-top: 1rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.card-tasks-counter>div>span {
    float:left;
    margin-right: .25rem;
    font-size: 14px;
    margin-bottom: .25rem;
}

.description-tasks {
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-tasks-description {
    /* height: 120px; */
}

.card-progress-counter {
    position: relative;
    height: 5px;
    margin: 0 !important;
    padding: 0 !important;
}

.progress-bar-bg {
    background-color: rgba(128, 128, 128, 0.151);
    height: 4px;
    width: 100%;
    border-radius: 1.5px;
}

.progress-bar {
    border-radius: 1.5px;
    height: 4px;
    width: 100%;
    background-color:#e84393;
}

.tasks-separator {
    display: flex;
    flex-direction: row;
    margin-top: .25rem;
}

.tasks-separator>i:not(:last-child){
    margin-right: .3rem;
}

.description-tasks {
    margin-top: .25rem;
}


.initial-group {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.progressFloat {
    margin-bottom: .5rem;
}

.progressFloat>span {
    font-size: 10;
    font-weight: bold;
    font-family: 'Baloo 2', sans-serif;
}

.progressFloat>span:first-child {
    float:left;
}

.progressFloat>span:last-child {
    float:right;
}

.btn-add-ticket {
    padding: .5rem;
    height: 100%;
    border: none;
    font-family: 'Baloo 2', sans-serif;
    color: #00b894;
    background-color: rgba(0,0,0,0);
    border-radius: 2.5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.btn-add-ticket:focus {
    text-shadow: 0px 0px 15px #00b8931c;
    outline: none;
}

.card-add-ticket {
    width: 300px;
    background: white;
    box-shadow: 0px 0px 15px #00b8931c;
    z-index: 10;
    /* transform:; */
}

.marginContent>* {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.txarea-input {
    height: 100px;
    resize: none;
    padding: .5rem 1rem;
    outline: none;
    font-size: 12px;
    font-family: 'OpenSans', sans-serif;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
    border-radius: .25rem;
    background: rgba(99, 110, 114,.025);
}

.txarea-input::placeholder {
    font-family: 'Baloo 2', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.destroyPadding {
    padding: 0 !important;
}

.centerFlex {
    display: flex;
    align-items: center;
}

.searchBar {
    width: 250px;
    background-color: rgba(128, 128, 128, 0.151);
    border-radius: .5rem;
}

.searchBarTools {
    width:100%; 
}

.getting-started-box {
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: .25rem;
}

.tag-top-bar>span {
    padding: .25rem .5rem;
    cursor: pointer;
    opacity: 0.5;
}

.tag-top-bar>span.active {
    opacity: 1 !important;
    border-bottom: 2.5px solid #02AAB0;
}

.box-tickets {
    background: rgba(0,0,0,.001);
    border-radius: .15rem;
}

.box-tickets>div {
    padding: .5rem .15rem;
}
.scrolled-tasks-container {
    overflow-y: auto;
    min-width: 250px;
}

.header-tasks {
    height: 200;
    background: rgba(255, 255, 255, 0.508);
    padding: .5rem;
}

.ticket-detail {
    margin-bottom: .5rem;
    cursor: pointer;
    padding: 1rem;
    background-color: white;
    position: inherit;
}

.add-new-ticket-style {
    margin-bottom: .5rem;
    cursor: pointer;
    background-color: white;
    position: inherit;
}

.ticket-detail>* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.addTicket {
    background: white;
    padding: .5rem 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

input[type='text'].set-title-header {
    border: none;
    background: none;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
}
input[type='text'].set-title-header:focus {
    border: none;
    outline: none;
}
.detail-tickets-modal {
    min-width: 600px;
    max-width: 600px;
    background-color: white;
    margin-top: 40px;
}

.bt>button {
    padding: 0.15rem 1rem;
    background: rgba(0,0,0,.01);
    border-radius: .1rem;
    border: 1px solid gray;
    font-family: 'Baloo 2', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

span {
    max-width: 100%;
    word-wrap: break-word;
}

.bgShadowBlack {
    height: 100%;
    width: 100%;
    background: black;
    z-index: 99999;
}

.utility-button>* {
    opacity: 0.8;
    padding: .5rem .45rem;
    font-size: 12.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: none;
    outline: none;
    margin-right: .25rem;
    background-color: #00b894;
    border-radius: .1rem;
    color: white;
}

.contentGroup:not(:last-child) {
    margin-bottom: 1rem;
}


::-webkit-scrollbar {
    width: 1px !important;
    height: 10px;
    border-radius: 5px;
}

        /* Track */
        ::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.05) !important;
        }

		/* Handle */
		::-webkit-scrollbar-thumb {
            background: rgba(34, 47, 62,0.1);
            border-radius: 2.5px;
          }
  